원본 데이터 출처: https://github.com/PinkWink/DataScience.git

# 파이썬으로 데이터 주무르기 - 2강

##### <span style="color:red"> 2-1. 데이터 획득하기</span>
* 공공데이터포럼

##### <span style="color:red"> 2-2. pandas를 이용하여 데이터 정리하기</span>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 원래 천단위를 콤마(,)로 구분하여 표시한 데이터
# thosands 옵션을 이용하여 데이터를 불러올 때 판다스에게 알려줌
crime_anal_police = pd.read_csv('data/02. crime_in_Seoul.csv', thousands = ',',
                                encoding='euc-kr')
crime_anal_police.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65   1395    477   1355   1170
1   종로서      3      3      6      5    115     98   1070    413   1278   1070
2  남대문서      1      0      6      4     65     46   1153    382    869    794
3  서대문서      2      2      5      4    154    124   1812    738   2056   1711
4   혜화서      3      2      5      4     96     63   1114    424   1015    861

##### <span style="color:red"> 2-3. 지도 정보를 얻을 수 있는 Google Maps</span>

##### <span style="color:red"> 2-4. Google Maps를 이용해서 주소와 위도, 경도 정보 얻기</span>

In [3]:
import googlemaps

In [4]:
gmaps_key = '비밀이에요'
gmaps = googlemaps.Client(key=gmaps_key)

In [5]:
gmaps.geocode('서울중부경찰서', language='ko')[0]

{'address_components': [{'long_name': '２７',
   'short_name': '２７',
   'types': ['premise']},
  {'long_name': '수표로',
   'short_name': '수표로',
   'types': ['political', 'sublocality', 'sublocality_level_4']},
  {'long_name': '중구',
   'short_name': '중구',
   'types': ['political', 'sublocality', 'sublocality_level_1']},
  {'long_name': '서울특별시',
   'short_name': '서울특별시',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': '대한민국', 'short_name': 'KR', 'types': ['country', 'political']},
  {'long_name': '100-032', 'short_name': '100-032', 'types': ['postal_code']}],
 'formatted_address': '대한민국 서울특별시 중구 수표로 27',
 'geometry': {'location': {'lat': 37.56361709999999, 'lng': 126.9896517},
  'location_type': 'ROOFTOP',
  'viewport': {'northeast': {'lat': 37.5649660802915,
    'lng': 126.9910006802915},
   'southwest': {'lat': 37.5622681197085, 'lng': 126.9883027197085}}},
 'partial_match': True,
 'place_id': 'ChIJc-9q5uSifDURLhQmr5wkXmc',
 'plus_code': {'compound_code': 'HX7Q+CV 대한민국 서울특별시',
  'global_code': '8Q98HX7Q+CV'},
 'types': ['establishment', 'point_of_interest', 'police']}

In [6]:
# 구글맵 검색을 위해 서울 XX 경찰서 형식으로 변경
station_name = []
for i in crime_anal_police['관서명']:
    station_name.append('서울'+str(i)[:-1]+'경찰서')
station_name

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

In [7]:
station_address = []
station_lat = []
station_lng = []

# 구글 데이터에서 주소, 위도 및 경도 정보 불러오기
for i in station_name:
    tmp = gmaps.geocode(i, language='ko')
    station_address.append(tmp[0].get('formatted_address'))
                           
    tmp_loc = tmp[0].get('geometry')
    station_lat.append(tmp_loc['location']['lat'])
    station_lng.append(tmp_loc['location']['lng'])
    
    print(i + '->' + tmp[0].get('formatted_address'))

서울중부경찰서->대한민국 서울특별시 중구 수표로 27
서울종로경찰서->대한민국 서울특별시 종로구 율곡로 46
서울남대문경찰서->대한민국 서울특별시 중구 한강대로 410
서울서대문경찰서->대한민국 서울특별시 서대문구 통일로 113
서울혜화경찰서->대한민국 서울특별시 종로구 창경궁로 112-16
서울용산경찰서->대한민국 서울특별시 용산구 백범로 329
서울성북경찰서->대한민국 서울특별시 성북구 삼선동 보문로 170
서울동대문경찰서->대한민국 서울특별시 동대문구 약령시로21길 29
서울마포경찰서->대한민국 서울특별시 마포구 마포대로 183
서울영등포경찰서->대한민국 서울특별시 영등포구 국회대로 608
서울성동경찰서->대한민국 서울특별시 성동구 행당동 왕십리광장로 9
서울동작경찰서->대한민국 서울특별시 동작구 노량진로 148
서울광진경찰서->대한민국 서울특별시 광진구 구의동 자양로 167
서울서부경찰서->대한민국 서울특별시 은평구 녹번동 177-15
서울강북경찰서->대한민국 서울특별시 강북구 오패산로 406
서울금천경찰서->대한민국 서울특별시 금천구 시흥대로73길 50
서울중랑경찰서->대한민국 서울특별시 중랑구 묵2동 249-2
서울강남경찰서->대한민국 서울특별시 강남구 테헤란로114길 11
서울관악경찰서->대한민국 서울특별시 관악구 관악로5길 33
서울강서경찰서->대한민국 서울특별시 강서구 화곡6동 980-27
서울강동경찰서->대한민국 서울특별시 강동구 성내로 57
서울종암경찰서->대한민국 서울특별시 성북구 화랑로7길 32
서울구로경찰서->대한민국 서울특별시 구로구 가마산로 235
서울서초경찰서->대한민국 서울특별시 서초구 서초3동 반포대로 179
서울양천경찰서->대한민국 서울특별시 양천구 목동동로 99
서울송파경찰서->대한민국 서울특별시 송파구 중대로 221
서울노원경찰서->대한민국 서울특별시 노원구 노원로 283
서울방배경찰서->대한민국 서울특별시 서초구 동작대로 204
서울은평경찰서->대한민국 서울특별시 은평구 연서로 365
서울도봉경찰서->대한민국 서울특별시 도봉구 노해로 403
서울수서경찰서->대한민국 서울특별시 강남구 개포로 617

In [8]:
station_address

['대한민국 서울특별시 중구 수표로 27',
 '대한민국 서울특별시 종로구 율곡로 46',
 '대한민국 서울특별시 중구 한강대로 410',
 '대한민국 서울특별시 서대문구 통일로 113',
 '대한민국 서울특별시 종로구 창경궁로 112-16',
 '대한민국 서울특별시 용산구 백범로 329',
 '대한민국 서울특별시 성북구 삼선동 보문로 170',
 '대한민국 서울특별시 동대문구 약령시로21길 29',
 '대한민국 서울특별시 마포구 마포대로 183',
 '대한민국 서울특별시 영등포구 국회대로 608',
 '대한민국 서울특별시 성동구 행당동 왕십리광장로 9',
 '대한민국 서울특별시 동작구 노량진로 148',
 '대한민국 서울특별시 광진구 구의동 자양로 167',
 '대한민국 서울특별시 은평구 녹번동 177-15',
 '대한민국 서울특별시 강북구 오패산로 406',
 '대한민국 서울특별시 금천구 시흥대로73길 50',
 '대한민국 서울특별시 중랑구 묵2동 249-2',
 '대한민국 서울특별시 강남구 테헤란로114길 11',
 '대한민국 서울특별시 관악구 관악로5길 33',
 '대한민국 서울특별시 강서구 화곡6동 980-27',
 '대한민국 서울특별시 강동구 성내로 57',
 '대한민국 서울특별시 성북구 화랑로7길 32',
 '대한민국 서울특별시 구로구 가마산로 235',
 '대한민국 서울특별시 서초구 서초3동 반포대로 179',
 '대한민국 서울특별시 양천구 목동동로 99',
 '대한민국 서울특별시 송파구 중대로 221',
 '대한민국 서울특별시 노원구 노원로 283',
 '대한민국 서울특별시 서초구 동작대로 204',
 '대한민국 서울특별시 은평구 연서로 365',
 '대한민국 서울특별시 도봉구 노해로 403',
 '대한민국 서울특별시 강남구 개포로 617']

In [9]:
station_lat

[37.56361709999999,
 37.575548,
 37.5547584,
 37.5647439,
 37.5719679,
 37.5387099,
 37.58977830000001,
 37.58506149999999,
 37.550814,
 37.5260441,
 37.5617303,
 37.5130866,
 37.542873,
 37.6021405,
 37.63730390000001,
 37.4568722,
 37.6056429,
 37.5094352,
 37.4743945,
 37.551284,
 37.528511,
 37.6036426,
 37.494931,
 37.4956054,
 37.5167711,
 37.5016941,
 37.6421389,
 37.4945959,
 37.6280204,
 37.6533589,
 37.49349]

In [10]:
station_lng

[126.9896517,
 126.9847471,
 126.9734981,
 126.9667705,
 126.9989574,
 126.9659183,
 127.016589,
 127.0457679,
 126.954028,
 126.9008091,
 127.0364217,
 126.9428498,
 127.083821,
 126.9213074,
 127.0273399,
 126.8970429,
 127.0764866,
 127.0669578,
 126.9513489,
 126.850038,
 127.1268224,
 127.0401328,
 126.886731,
 127.0052504,
 126.8656996,
 127.1272481,
 127.0710473,
 126.9831279,
 126.9287899,
 127.052682,
 127.0772119]

In [11]:
station_address[0].split()[2]

'중구'

In [12]:
# 구 네임 추출
gu_name = []

for i in station_address:
    tmp = i.split()
    
    tmp_gu = [a for a in tmp if a[-1] == '구'][0]
    gu_name.append(tmp_gu)
# 새로운 열 추가
crime_anal_police['구별'] = gu_name
crime_anal_police.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [13]:
# 금천서 찾아보기 - 2018년 기준으로 금천구로 이전해서 예외처리 할 필요 없음
crime_anal_police[crime_anal_police['관서명']=='금천서']

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
15,금천서,3,4,6,6,151,122,1567,888,2054,1776,금천구

In [14]:
# csv 파일로 지금까지 정리한 데이터 저장
crime_anal_police.to_csv('data/02. crime_in_Seoul_include_gu_name.csv', sep=',', encoding = 'utf-8')

In [15]:
crime_anal_police.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

##### <span style="color:red"> 2-5. pandas의 pivot_table 학습하기</span>
chris1610님 공개 데이터 - https://github.com/chris1610/pbpython/tree/master/data

In [16]:
df = pd.read_excel('data/02. sales-funnel.xlsx')
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

### 피벗테이블
* 많은 양의 데이터에서 필요한 자료만 뽑아 새로 표를 작성할 때 사용
* 임의대로 데이터를 정렬하고 필터링할 수 있음 <br>
(출처: https://kimdingko-world.tistory.com/214)

In [17]:
pd.pivot_table(df, index='Name')

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

In [18]:
# 여러 개의 인덱스를 지정할 수 있음
pd.pivot_table(df, index=['Name', 'Rep', 'Manager'])

,,,Account,Price,Quantity
Name,Rep,Manager,,,
Barton LLC,John Smith,Debra Henley,740150,35000,1.000000
"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,737550,35000,1.000000
Herman LLC,Cedric Moss,Fred Anderson,141962,65000,2.000000
Jerde-Hilpert,John Smith,Debra Henley,412290,5000,2.000000
"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,307599,7000,3.000000
Keeling LLC,Wendy Yule,Fred Anderson,688981,100000,5.000000
Kiehn-Spinka,Daniel Hilton,Debra Henley,146832,65000,2.000000
Koepp Ltd,Wendy Yule,Fred Anderson,729833,35000,2.000000
Kulas Inc,Daniel Hilton,Debra Henley,218895,25000,1.500000
Purdy-Kunde,Cedric Moss,Fred Anderson,163416,30000,1.000000
Stokes LLC,Cedric Moss,Fred Anderson,239344,7500,1.000000
Trantow-Barrows,Craig Booker,Debra Henley,714466,15000,1.333333

In [21]:
# 특정 value만 지정해서 나타나도록 할 수 있음
pd.pivot_table(df, index = ['Manager', 'Rep'], values=['Price'])

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

* value를 pivot_table로 합치면 평균 연산이 기본값
* 합계를 구하고 싶은 경우 aggfunc 옵션을 사용하면 됨

In [26]:
pd.pivot_table(df, index=['Manager', 'Rep'], values = ['Price'], aggfunc=np.sum)
# sum을 해도 np.sum과 동일한 결과를 출력하지만, np.sum의 컴파일 속도가 더 빠름

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

In [31]:
pd.pivot_table(df, index = ['Manager', 'Rep', 'Product'], 
               values = ['Price', 'Quantity'], aggfunc=[np.sum, np.mean],
              fill_value = 0, # NaN 값이 나오면 0으로 채워주는 옵션
              margins = True) # 컬럼의 합을 구해줌

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706

##### <span style="color:red"> 2-6. Pivot_table을 이용해서 데이터 정리하기</span>

In [49]:
crime_anal_raw = pd.read_csv('data/02. crime_in_Seoul_include_gu_name.csv',
                           encoding = 'utf-8')
crime_anal_raw.head()

,Unnamed: 0,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [50]:
# index 수정
crime_anal_raw = pd.read_csv('data/02. crime_in_Seoul_include_gu_name.csv',
                           encoding = 'utf-8', index_col=0)
crime_anal_raw.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [51]:
# 구별로 데이터 확인하기
crime_anal = pd.pivot_table(crime_anal_raw, index = '구별', aggfunc=np.sum)
crime_anal.head()

     강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구별
강남구    349    449     18     21     10     13   1650   3850   3705   4284
강동구    123    156      8      6      3      4    789   2366   2248   2712
강북구    126    153     13     14      8      7    618   1434   2348   2649
강서구    191    262     13     13      8      7   1260   2096   2718   3207
관악구    221    320     14     12      8      9    827   2706   2642   3298

In [52]:
# 검거율 계산하기
crime_anal['강간검거율'] = crime_anal['강간 검거']/crime_anal['강간 발생'] * 100
crime_anal['강도검거율'] = crime_anal['강도 검거']/crime_anal['강도 발생'] * 100
crime_anal['살인검거율'] = crime_anal['살인 검거']/crime_anal['살인 발생'] * 100
crime_anal['절도검거율'] = crime_anal['절도 검거']/crime_anal['절도 발생'] * 100
crime_anal['폭력검거율'] = crime_anal['폭력 검거']/crime_anal['폭력 발생'] * 100

In [53]:
# 필요없는 데이터 (강간 ~ 폭력 검거  삭제
del crime_anal['강간 검거']
del crime_anal['강도 검거']
del crime_anal['살인 검거']
del crime_anal['절도 검거']
del crime_anal['폭력 검거']

In [54]:
# 데이터 확인
crime_anal.head()

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,114.285714,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157

In [55]:
# 검거율이 100 초과인 경우, 100으로 처리
col_list = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']

for i in col_list:
    crime_anal.loc[crime_anal[i] > 100, i] = 100 
    # 행 값이 100 초과이면서, col_list에 속하는 열인 경우의 데이터를 100으로 변경
    
crime_anal.head()

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,100.000000,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,100.000000,88.888889,30.561715,80.109157

In [57]:
# 강간 발생 -> 강간 등으로 '발생' 단어를 삭제 (기존 열 이름을 수정)
crime_anal.rename(columns = {'강간 발생' : '강간',
                            '강도 발생' : '강도',
                            '살인 발생' : '살인',
                            '절도 발생' : '절도',
                            '폭력 발생' : '폭력'}, inplace = True) # 원본에 반영

crime_anal.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,100.000000,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,100.000000,88.888889,30.561715,80.109157