원본 데이터 출처: https://github.com/PinkWink/DataScience.git

# 파이썬으로 데이터 주무르기 - 2강

##### <span style="color:red"> 2-1. 데이터 획득하기</span>
* 공공데이터포럼

##### <span style="color:red"> 2-2. pandas를 이용하여 데이터 정리하기</span>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 원래 천단위를 콤마(,)로 구분하여 표시한 데이터
# thosands 옵션을 이용하여 데이터를 불러올 때 판다스에게 알려줌
crime_anal_police = pd.read_csv('data/02. crime_in_Seoul.csv', thousands = ',',
                                encoding='euc-kr')
crime_anal_police.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65   1395    477   1355   1170
1   종로서      3      3      6      5    115     98   1070    413   1278   1070
2  남대문서      1      0      6      4     65     46   1153    382    869    794
3  서대문서      2      2      5      4    154    124   1812    738   2056   1711
4   혜화서      3      2      5      4     96     63   1114    424   1015    861

##### <span style="color:red"> 2-3. 지도 정보를 얻을 수 있는 Google Maps</span>

##### <span style="color:red"> 2-4. Google Maps를 이용해서 주소와 위도, 경도 정보 얻기</span>

In [3]:
import googlemaps

In [4]:
gmaps_key = '비밀이에요'
gmaps = googlemaps.Client(key=gmaps_key)

In [5]:
gmaps.geocode('서울중부경찰서', language='ko')[0]

{'address_components': [{'long_name': '２７',
   'short_name': '２７',
   'types': ['premise']},
  {'long_name': '수표로',
   'short_name': '수표로',
   'types': ['political', 'sublocality', 'sublocality_level_4']},
  {'long_name': '중구',
   'short_name': '중구',
   'types': ['political', 'sublocality', 'sublocality_level_1']},
  {'long_name': '서울특별시',
   'short_name': '서울특별시',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': '대한민국', 'short_name': 'KR', 'types': ['country', 'political']},
  {'long_name': '100-032', 'short_name': '100-032', 'types': ['postal_code']}],
 'formatted_address': '대한민국 서울특별시 중구 수표로 27',
 'geometry': {'location': {'lat': 37.56361709999999, 'lng': 126.9896517},
  'location_type': 'ROOFTOP',
  'viewport': {'northeast': {'lat': 37.5649660802915,
    'lng': 126.9910006802915},
   'southwest': {'lat': 37.5622681197085, 'lng': 126.9883027197085}}},
 'partial_match': True,
 'place_id': 'ChIJc-9q5uSifDURLhQmr5wkXmc',
 'plus_code': {'compound_code': 'HX7Q+CV 대한민국 서울특별시',
  'global_code': '8Q98HX7Q+CV'},
 'types': ['establishment', 'point_of_interest', 'police']}

In [6]:
# 구글맵 검색을 위해 서울 XX 경찰서 형식으로 변경
station_name = []
for i in crime_anal_police['관서명']:
    station_name.append('서울'+str(i)[:-1]+'경찰서')
station_name

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

In [7]:
station_address = []
station_lat = []
station_lng = []

# 구글 데이터에서 주소, 위도 및 경도 정보 불러오기
for i in station_name:
    tmp = gmaps.geocode(i, language='ko')
    station_address.append(tmp[0].get('formatted_address'))
                           
    tmp_loc = tmp[0].get('geometry')
    station_lat.append(tmp_loc['location']['lat'])
    station_lng.append(tmp_loc['location']['lng'])
    
    print(i + '->' + tmp[0].get('formatted_address'))

서울중부경찰서->대한민국 서울특별시 중구 수표로 27
서울종로경찰서->대한민국 서울특별시 종로구 율곡로 46
서울남대문경찰서->대한민국 서울특별시 중구 한강대로 410
서울서대문경찰서->대한민국 서울특별시 서대문구 통일로 113
서울혜화경찰서->대한민국 서울특별시 종로구 창경궁로 112-16
서울용산경찰서->대한민국 서울특별시 용산구 백범로 329
서울성북경찰서->대한민국 서울특별시 성북구 삼선동 보문로 170
서울동대문경찰서->대한민국 서울특별시 동대문구 약령시로21길 29
서울마포경찰서->대한민국 서울특별시 마포구 마포대로 183
서울영등포경찰서->대한민국 서울특별시 영등포구 국회대로 608
서울성동경찰서->대한민국 서울특별시 성동구 행당동 왕십리광장로 9
서울동작경찰서->대한민국 서울특별시 동작구 노량진로 148
서울광진경찰서->대한민국 서울특별시 광진구 구의동 자양로 167
서울서부경찰서->대한민국 서울특별시 은평구 녹번동 177-15
서울강북경찰서->대한민국 서울특별시 강북구 오패산로 406
서울금천경찰서->대한민국 서울특별시 금천구 시흥대로73길 50
서울중랑경찰서->대한민국 서울특별시 중랑구 묵2동 249-2
서울강남경찰서->대한민국 서울특별시 강남구 테헤란로114길 11
서울관악경찰서->대한민국 서울특별시 관악구 관악로5길 33
서울강서경찰서->대한민국 서울특별시 강서구 화곡6동 980-27
서울강동경찰서->대한민국 서울특별시 강동구 성내로 57
서울종암경찰서->대한민국 서울특별시 성북구 화랑로7길 32
서울구로경찰서->대한민국 서울특별시 구로구 가마산로 235
서울서초경찰서->대한민국 서울특별시 서초구 서초3동 반포대로 179
서울양천경찰서->대한민국 서울특별시 양천구 목동동로 99
서울송파경찰서->대한민국 서울특별시 송파구 중대로 221
서울노원경찰서->대한민국 서울특별시 노원구 노원로 283
서울방배경찰서->대한민국 서울특별시 서초구 동작대로 204
서울은평경찰서->대한민국 서울특별시 은평구 연서로 365
서울도봉경찰서->대한민국 서울특별시 도봉구 노해로 403
서울수서경찰서->대한민국 서울특별시 강남구 개포로 617

In [8]:
station_address

['대한민국 서울특별시 중구 수표로 27',
 '대한민국 서울특별시 종로구 율곡로 46',
 '대한민국 서울특별시 중구 한강대로 410',
 '대한민국 서울특별시 서대문구 통일로 113',
 '대한민국 서울특별시 종로구 창경궁로 112-16',
 '대한민국 서울특별시 용산구 백범로 329',
 '대한민국 서울특별시 성북구 삼선동 보문로 170',
 '대한민국 서울특별시 동대문구 약령시로21길 29',
 '대한민국 서울특별시 마포구 마포대로 183',
 '대한민국 서울특별시 영등포구 국회대로 608',
 '대한민국 서울특별시 성동구 행당동 왕십리광장로 9',
 '대한민국 서울특별시 동작구 노량진로 148',
 '대한민국 서울특별시 광진구 구의동 자양로 167',
 '대한민국 서울특별시 은평구 녹번동 177-15',
 '대한민국 서울특별시 강북구 오패산로 406',
 '대한민국 서울특별시 금천구 시흥대로73길 50',
 '대한민국 서울특별시 중랑구 묵2동 249-2',
 '대한민국 서울특별시 강남구 테헤란로114길 11',
 '대한민국 서울특별시 관악구 관악로5길 33',
 '대한민국 서울특별시 강서구 화곡6동 980-27',
 '대한민국 서울특별시 강동구 성내로 57',
 '대한민국 서울특별시 성북구 화랑로7길 32',
 '대한민국 서울특별시 구로구 가마산로 235',
 '대한민국 서울특별시 서초구 서초3동 반포대로 179',
 '대한민국 서울특별시 양천구 목동동로 99',
 '대한민국 서울특별시 송파구 중대로 221',
 '대한민국 서울특별시 노원구 노원로 283',
 '대한민국 서울특별시 서초구 동작대로 204',
 '대한민국 서울특별시 은평구 연서로 365',
 '대한민국 서울특별시 도봉구 노해로 403',
 '대한민국 서울특별시 강남구 개포로 617']

In [9]:
station_lat

[37.56361709999999,
 37.575548,
 37.5547584,
 37.5647439,
 37.5719679,
 37.5387099,
 37.58977830000001,
 37.58506149999999,
 37.550814,
 37.5260441,
 37.5617303,
 37.5130866,
 37.542873,
 37.6021405,
 37.63730390000001,
 37.4568722,
 37.6056429,
 37.5094352,
 37.4743945,
 37.551284,
 37.528511,
 37.6036426,
 37.494931,
 37.4956054,
 37.5167711,
 37.5016941,
 37.6421389,
 37.4945959,
 37.6280204,
 37.6533589,
 37.49349]

In [10]:
station_lng

[126.9896517,
 126.9847471,
 126.9734981,
 126.9667705,
 126.9989574,
 126.9659183,
 127.016589,
 127.0457679,
 126.954028,
 126.9008091,
 127.0364217,
 126.9428498,
 127.083821,
 126.9213074,
 127.0273399,
 126.8970429,
 127.0764866,
 127.0669578,
 126.9513489,
 126.850038,
 127.1268224,
 127.0401328,
 126.886731,
 127.0052504,
 126.8656996,
 127.1272481,
 127.0710473,
 126.9831279,
 126.9287899,
 127.052682,
 127.0772119]

In [11]:
station_address[0].split()[2]

'중구'

In [12]:
# 구 네임 추출
gu_name = []

for i in station_address:
    tmp = i.split()
    
    tmp_gu = [a for a in tmp if a[-1] == '구'][0]
    gu_name.append(tmp_gu)
# 새로운 열 추가
crime_anal_police['구별'] = gu_name
crime_anal_police.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [14]:
# 금천서 찾아보기 - 2018년 기준으로 금천구로 이전해서 예외처리 할 필요 없음
crime_anal_police[crime_anal_police['관서명']=='금천서']

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
15,금천서,3,4,6,6,151,122,1567,888,2054,1776,금천구

In [15]:
# csv 파일로 지금까지 정리한 데이터 저장
crime_anal_police.to_csv('data/02. crime_in_Seoul_include_gu_name.csv', sep=',', encoding = 'utf-8')

In [16]:
crime_anal_police.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

##### <span style="color:red"> 2-5. pandas의 pivot_table 학습하기</span>